<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>


        <main>
            <div class="jumbotron">
                <h1>Services</h1>
            </div>

        </main>

        <!--bottom nav-->


        <!--script section-->
        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>